[submodule "MidiApp"]
	path = MidiApp
	url = https://github.com/xplorer2716/MidiApp
	branch = net8.0
[submodule "Sanford.Multimedia.Midi"]
	path = Sanford.Multimedia.Midi
	url = https://github.com/xplorer2716/Sanford.Multimedia.Midi
	branch = master
