[submodule "MidiApp"]
	path = MidiApp
	url = https://github.com/xplorer2716/MidiApp.git
	branch = main
[submodule "Sanford.Multimedia.Midi"]
	path = Sanford.Multimedia.Midi
	url = https://github.com/xplorer2716/Sanford.Multimedia.Midi.git
	branch = master
