<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="MidiApp.MidiController.Service.Logger" value="0" />
    </switches>
  </system.diagnostics>
  <!-- see Application.CommonAppDataPath config file for users settings -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>